@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


/*body {
  height: 2000px;
  color: #757575;
  font-size: 18px;
  line-height: 32px;
  background-image: url("../img/faceC.png"), url("../img/shoes.png"), url("../img/garlic.png"), url("../img/handTR.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0% 15%, 100% 20%, 0% 38%, 100% 30%;
  background-size: auto, 20%, 37%, 30%;

}*/

body {
  height: 2000px;
  color: #757575;
  font-size: 18px;
  line-height: 32px;
  background-image: url("../img/faceC.png"), url("../img/handTR.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0% 15%, 100% 28%;
  background-size: auto, 43%;

}

/*.header {
  background-image: url("../img/headerA.png");
  background-size: 80%;
  background-repeat: no-repeat;
}*/

h3, h1, h4, h2 {
  font-family: 'Amatic SC', cursive;
  color: #e2665a;
  padding-bottom: 20px;
}

h3 {
  font-size: 60px;
}

h2 {
  font-size: 70px;
}


#mediabuttons {
  padding-top: 30px;
  text-align: left;
}

img.social {
  width: 33px;
}

a {
  color: #e2665a;
}
h4 {
  text-align: center;
  font-size: 50px;
}

h1 {
  font-size: 250px;
  text-align: center;
  color: #000000;
}

.parallax-container {
  height: 300px;
}

#penimg {
  position: fixed;
  left: 0px;
  top: 10px;
  height: 200px;
  width: 200px;
  transition-duration: 500ms;
  /*display: none;*/
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#instagram h3 {
  color: #000000;
}

/*.well {
  background-color: black;
  color: white;
}*/


#rules {
  width: 80%;
  float: left;
  padding: 25px;
  margin-bottom: 20px;
}

#prompts {
  width: 70%;
  padding: 25px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  margin: auto;
  clear:both;
}

#prompts h3 {
  text-align: center;
  font-size: 85px;
}

<<<<<<< HEAD
#toc {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-family: 'Amatic SC', cursive;
}

#pod {
  padding: 50px;
  text-align: center;
  background-image: url("../img/strokeA.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: bottom;
}
#pod h2 {
  color: #000;
}
#about {
  width: 70%;
  float: right;
  padding: 25px;
  margin-bottom: 20px;

=======
/*#pen {
  filter: invert(100%);*/
>>>>>>> scroll
}

#tips {
  width: 90%;
  float: left;
  padding: 25px;
  margin-right: 45px;
  margin-bottom: 20px;
  border-radius: 25px;
  background-image: url("../img/inksplotchB.png");
  background-repeat: no-repeat;
  background-position: 95% 110%;
  background-size: 35%;

=======
/*#pen {
  filter: invert(100%);*/
>>>>>>> scroll
}



#inktoberpic {
  width: 150px;
}

#instagram {
  width: 100%;
  text-align: center;
  clear: both;
}

/*.row {
  padding: 25px;
}*/

#tips ul li {
  list-style-image: url("../img/bullet-3.png");
  padding-bottom: 15px;
  margin-left: 30px;
}


#prompts ol li, #rules ol li {
  list-style-type: decimal;
  margin-left: 30px;
}

footer {
  background-color: black;
  padding: 25px;
  margin-bottom: 20px;
  padding-top: 20px;
}

footer p {
  font-size: 14px;
  line-height: 20px;
}

.redcolor {
  color: #e2665a;
}

.poison {
  color: #e2665a;
  font-size: 120px;
}

#toc ul li {
  font-size: 20px;
  display: inline;
}

#toc {
  margin: auto;
}

ul.section {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

ul.section a {
  color: #757575;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}
/*#pen {
  filter: invert(100%);
  left: 10
}*/

/*.inner {
  width: 150px;
  height: 100px;
  position: fixed;
  top: 20%;
  left: 10%;
  background: red;
}*/
